<!-- Section: Stats -->
<section class="section section-stats center">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card-panel blue lighten-1 white-text center">
        <i class="material-icons medium">insert_emoticon</i>
        <h5>Nombre de visiteurs par mois</h5>
        <h3 class="count">{{ totalVisitors }}</h3>
        <div class="progress grey lighten-1">
          <div class="determinate white" style="width: 40%"></div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="card-panel center">
        <i class="material-icons medium">supervisor_account</i>
        <h5>Utilisateurs</h5>
        <h3 class="count">1</h3>
        <div class="progress grey lighten-1">
          <div class="determinate blue lighten-1" style="width: 10%"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Visitor -->
<section class="section section-visitors blue lighten-4">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card-panel">
        <div id="chartContainer" style="height: 300px; width: 100%"></div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="card-panel">
        <div id="pieChartContainer" style="height: 300px; width: 100%"></div>
      </div>
    </div>
  </div>
</section>
