<div class="section"></div>
<main class="center">
  <img
    class="responsive-img"
    style="width: 250px"
    src="../../../assets/images/Logo-AGEOS2.png"
  />
  <div class="section"></div>

  <h5 class="indigo-text">Connectez-vous sur votre compte</h5>
  <div class="section"></div>

  <div class="container">
    <div
      class="z-depth-1 grey lighten-4 row"
      style="
        display: inline-block;
        padding: 32px 48px 0px 48px;
        border: 1px solid #eee;
      "
    >
      <form class="col s12" (ngSubmit)="login()">
        <div class="row">
          <div class="col s12"></div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input
              class="validate"
              type="email"
              name="email"
              id="email"
              [(ngModel)]="credentials.email"
              [ngModelOptions]="{ standalone: false }"
            />
            <label for="email">Saisir email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input
              class="validate"
              type="password"
              name="password"
              id="password"
              [(ngModel)]="credentials.password"
              [ngModelOptions]="{ standalone: false }"
            />
            <label for="password">Saisir votre mot de passe</label>
          </div>
          <label style="float: right">
            <a class="indigo-text" href="#!"><b>Mot de passe oublié?</b></a>
          </label>
        </div>

        <br />
        <div class="row">
          <button
            type="submit"
            name="btn_login"
            class="col s12 btn btn-large waves-effect indigo"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- <a href="#!">Create account</a> -->

  <div class="section"></div>
  <div class="section"></div>
</main>
