<!-- Newsletter Section -->
<section class="newsletter-section">
    <div class="container">
        <h2 class="newsletter-header">Stay Updated!</h2>
        <p class="newsletter-description">Subscribe to our newsletter to receive the latest updates and offers.</p>
        <div class="row">
            <form class="col s12 m8 offset-m2">
                <div class="input-field col s12 m8 newsletter-input">
                    <input id="email" type="email" class="validate">
                    <label for="email">Enter your email</label>
                </div>
                <div class="input-field col s12 m4">
                    <button class="btn waves-effect waves-light newsletter-button" type="submit" name="action">Subscribe
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>