<div class="row">
  <div class="col s12 m12">
    <div class="card hoverable">
      <form
        (ngSubmit)="onSubmit()"
        style="padding: 30px"
        *ngIf="direction"
        #bannerForm="ngForm"
      >
        <div class="row">
          <div class="input-field col s12 m12">
            <input
              placeholder="Libelle"
              id="title"
              [(ngModel)]="direction.name"
              name="libelle"
              [ngModelOptions]="{ standalone: false }"
              type="text"
              class="validate"
              required
              #libelle="ngModel"
            />
            <label for="title">Libelle</label>
            <div
              [hidden]="libelle.valid || libelle.pristine"
              class="red-text accent-1"
            >
              Ce champ est obligatoire.
            </div>
          </div>
          <div class="input-field col s12 m12">
            <input
              placeholder="Libelle"
              id="title_eng"
              [(ngModel)]="direction.name_eng"
              name="libelle_eng"
              [ngModelOptions]="{ standalone: false }"
              type="text"
              class="validate"
              required
              #libelle_eng="ngModel"
            />
            <label for="title_eng">Libelle en anglais</label>
            <div
              [hidden]="libelle_eng.valid || libelle_eng.pristine"
              class="red-text accent-1"
            >
              Ce champ est obligatoire.
            </div>
          </div>
          <div class="input-field col s12 m12">
            <input
              placeholder="Abbreviation"
              id="abbreviation"
              [(ngModel)]="direction.abbreviation"
              name="abbreviation"
              type="text"
              class="validate"
              required
              #abbr="ngModel"
            />
            <label for="abbreviation">Abbreviation</label>
            <div
              [hidden]="abbr.valid || abbr.pristine"
              class="red-text accent-1"
            >
              Ce champ est obligatoire.
            </div>
          </div>
        </div>
        <div>
          <label for="description">Description:</label>
          <quill-editor
            class="validate"
            [(ngModel)]="direction.description"
            [ngModelOptions]="{ standalone: false }"
            name="content"
            #content="ngModel"
          ></quill-editor>
          <div
            [hidden]="content.valid || content.pristine"
            class="red-text accent-1"
          >
            Ce champ est obligatoire.
          </div>
        </div>
        <div>
          <label for="description">Description en anglais:</label>
          <quill-editor
            class="validate"
            [(ngModel)]="direction.description_eng"
            [ngModelOptions]="{ standalone: false }"
            name="content_eng"
            #content_eng="ngModel"
          ></quill-editor>
          <div
            [hidden]="content_eng.valid || content_eng.pristine"
            class="red-text accent-1"
          >
            Ce champ est obligatoire.
          </div>
        </div>
        <br />
        <div class="divider"></div>
        <br />
        <div class="input-field col s12 m12" *ngIf="isAddForm">
          <input
            placeholder="Nom du directeur"
            id="title"
            [(ngModel)]="direction.nom_dir"
            name="libelle"
            [ngModelOptions]="{ standalone: false }"
            type="text"
            #libelle="ngModel"
          />
          <label for="title">Nom du directeur</label>
        </div>
        <div class="row" *ngIf="isAddForm">
          <div class="file-field input-field col s12 m12">
            <div class="btn-small blue-grey">
              <span>Image</span>
              <input
                type="file"
                [(ngModel)]="direction.image"
                id="image"
                class="validate"
                name="image"
                [ngModelOptions]="{ standalone: false }"
                #image="ngModel"
              />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" />
            </div>
            <div
              [hidden]="image.valid || image.pristine"
              class="red-text accent-1"
            >
              Ce champ est obligatoire.
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row" style="padding-top: 10px">
          <div class="center" *ngIf="isAddForm">
            <button
              type="submit"
              class="btn-small green darken-4"
              style="margin-top: 0 !important; padding-top: 0 !important"
              [disabled]="
                !bannerForm.form.valid || isBlank(direction.description)
              "
            >
              <i class="material-icons">save</i> Enregistrer
            </button>
          </div>

          <div class="center" *ngIf="!isAddForm">
            <button
              type="submit"
              class="btn-small green darken-4"
              style="margin-top: 0 !important; padding-top: 0 !important"
              [disabled]="
                !bannerForm.form.valid || isBlank(direction.description)
              "
            >
              <i class="material-icons">save</i> Modifier
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
