<div class="row">
  <div class="col s12 m12">
    <a
      class="waves-effect waves-light btn-small blue-grey"
      href="/admin/direction/add"
      ><i class="material-icons left">add_circle</i>Nouvelle direction</a
    >
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title">Directions</span>
        <div class="divider"></div>
        <div>
          <table class="highlight centered responsive-table">
            <thead>
              <tr>
                <th>libelle</th>
                <th>Description</th>
                <th>Nom du directeur</th>
                <th>Nombre de services</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody class="center" *ngIf="!isLoading">
              <tr *ngFor="let item of paginatedData">
                <td>{{ item.name }} ( {{ item.abbreviation }} )</td>
                <td [innerHTML]="item.description"></td>
                <td *ngIf="item.director_in_post">
                  {{ item.director_in_post.name }}
                </td>
                <td *ngIf="!item.director_in_post">
                  <i
                    ><a style="cursor: pointer" (click)="addDirector(item)"
                      >Nouveau Directeur</a
                    ></i
                  >
                </td>
                <td>{{ item.services.length }}</td>
                <td>
                  <div class="btn-group" role="group">
                    <a
                      class="waves-effect waves-light btn"
                      (click)="edit(item)"
                      title="Edit Banières"
                      ><i class="material-icons">edit</i></a
                    >
                    <a
                      class="waves-effect waves-light btn teal darken-4"
                      (click)="detail(item)"
                      title="Details Banières"
                      ><i class="material-icons">assignment</i></a
                    >
                    <a
                      class="waves-effect waves-light btn red darken-4"
                      [class.disabled]="item.services.length != 0"
                      (click)="openModalDelete(item)"
                      title="Delete Banières"
                      ><i class="material-icons">delete</i></a
                    >
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isLoading">
              <tr>
                <td class="center" colspan="4">Data loading .......</td>
              </tr>
            </tbody>

            <tbody *ngIf="!isLoading && items.length == 0">
              <tr>
                <td class="center" colspan="4">No data available</td>
              </tr>
            </tbody>
          </table>
          <br />
          <!-- Pagination Controls -->
          <div class="center">
            <button
              (click)="prevPage()"
              class="btn waves-effect waves-light teal darken-4"
              [disabled]="currentPage === 1"
            >
              Précédent
            </button>
            <span
              class="page-number"
              style="margin-left: 10px; margin-right: 10px"
              >{{ currentPage }} / {{ totalPages() }}</span
            >
            <button
              (click)="nextPage()"
              class="btn waves-effect waves-light teal darken-4"
              [disabled]="currentPage === totalPages()"
            >
              Suivant
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete direction -->
<div id="modal2" class="modal custum-modal">
  <div class="modal-content">
    <h6 class="center red-text">
      Voulez-vous supprimer la donnée sur la direction?
    </h6>
  </div>
  <div class="modal-footer center">
    <a
      class="modal-close waves-effect waves-red red darken-4 white-text btn-flat"
      style="margin-right: 10px"
      >Fermer</a
    >
    <a
      class="waves-effect waves-green green darken-4 white-text btn-flat"
      (click)="deleteDirection()"
      >Valider</a
    >
  </div>
</div>
