<div *ngIf="page == 'mission'">
  <div class="row">
    <div class="card center blue-grey white-text">
      <h5>Nouvelle mission</h5>
    </div>
  </div>
  <app-form-vision-mission
    [page]="page"
    [mission]="mission"
  ></app-form-vision-mission>
</div>

<div *ngIf="page == 'vision'">
  <div class="row">
    <div class="card center blue-grey white-text">
      <h5>Nouvelle vision</h5>
    </div>
  </div>
  <app-form-vision-mission
    [page]="page"
    [vision]="vision"
  ></app-form-vision-mission>
</div>
