nav{
    align-content: center;
    background: transparent;
}

.nav-wrapper {
    background: rgba(0, 0, 0, 0.3) !important; /* Semi-transparent background */
    position: relative;
    width: 100%;
    top: 20%;
    z-index: 10; /* Ensure navbar is above the carousel */
}

.nav-wrapper .container {
    background: rgba(0, 0, 0, 0.3) !important;
}

/* .carousel img {
    filter: brightness(75%);
} */

.brand-logo img {
    width: 100%;
    max-width: 200px;
    background-color: #f5f5f5;
    border-radius: 10px;
}