<app-navbar></app-navbar>
<div class="center-align carousel-vision">
  <img src="../../../assets/images/peche.jpg" alt="" />
  <div class="centered-text banner-title-bg">
    @if (!isEnglish) {
    <h5 class="white-text">Centre d'Excellence de l'Union Africaine</h5>
    } @else {
    <h5 class="white-text">Center of Excellence</h5>
    }
  </div>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="card-content">
      <div class="container">
        <h3 class="center main-title">
          Centre d’Excellence de l’Union Africaine
        </h3>
        <div class="row">
          <div class="col s12 m12">
            <img
              src="../../../assets/images/certificat_centre_excellence.png"
              alt=""
              style="width: 100%"
            />
          </div>
          <div class="col s12 m12">
            <p class="content tabbed">
              L’<b
                >Agence Gabonaise d’Études et d’Observations Spatiales
                (AGEOS)</b
              >
              est reconnue comme Centre d’Excellence de l’Union Africaine pour
              le suivi et la surveillance des ressources côtières et marines. Ce
              centre vise à soutenir la sécurité maritime dans le développement
              durable de la pêche et de l'aquaculture.
            </p>
            <p class="content tabbed">Ce centre vise à :</p>
            <ul>
              <li>Soutenir la gestion durable des écosystèmes marins</li>
              <li>Renforcer la sécurité maritime régionale</li>
              <li>Former une expertise africaine de haut niveau</li>
            </ul>
          </div>
        </div>

        <h4 class="subtitle"><u>Nos missions principales</u></h4>
        <div class="mission">
          <div class="row">
            <div class="col s1 m1"><div class="circle-number">1</div></div>
            <div class="col s11 m11">
              <h6>Surveillance maritime et côtière</h6>
            </div>
          </div>
          <hr />
          <p class="content tabbed">
            Utilisation de l’imagerie satellite (VMS, AIS, radar, optique) pour
            la détection des navires, le suivi des activités en mer et
            l’anticipation des menaces dans les zones économiques exclusives.
          </p>
        </div>
        <div class="mission">
          <div class="row">
            <div class="col s1 m1"><div class="circle-number">2</div></div>
            <div class="col s11 m11">
              <h6>Appui à la sécurité maritime</h6>
            </div>
          </div>
          <hr />
          <p class="content tabbed">
            Contribution active aux systèmes régionaux de surveillance et de
            contrôle, en appui aux stratégies africaines de sécurité maritime.
          </p>
        </div>
        <div class="mission">
          <div class="row">
            <div class="col s1 m1"><div class="circle-number">3</div></div>
            <div class="col s11 m11">
              <h6>Soutien à la pêche durable</h6>
            </div>
          </div>
          <hr />
          <p class="content tabbed">
            Collecte, traitement et analyse de données halieutiques pour
            orienter les politiques publiques de conservation, de gestion des
            ressources et de lutte contre la pêche INN (illégale, non déclarée
            et non réglementée).
          </p>
        </div>
        <div class="mission">
          <div class="row">
            <div class="col s1 m1"><div class="circle-number">4</div></div>
            <div class="col s11 m11">
              <h6>Formation et transfert de compétences</h6>
            </div>
          </div>
          <hr />
          <p class="content tabbed">
            Développement des capacités techniques régionales à travers des
            formations spécialisées en télédétection, surveillance des pêches,
            analyse d’images satellites et gestion des ressources marines.
          </p>
        </div>

        <h4 class="subtitle">
          <u>Un pôle technique et stratégique au service de l’Afrique</u>
        </h4>
        <p class="content">
          AGEOS conçoit et pilote, avec ses partenaires africains et
          internationaux, des actions de :
        </p>
        <ul class="list-contents">
          <li>Renforcement de capacités,</li>
          <li>Veille stratégique,</li>
          <li>Coopération régionale en matière de gouvernance maritime.</li>
        </ul>
        <br />
        <p class="content">
          À ce titre, AGEOS propose un
          <b
            >programme de formation régional structuré autour de cinq modules
            clés</b
          >
          :
        </p>
        <ul class="list-contents">
          <li>Module 1 : Management des données satellitaires et analyse</li>
          <li>Module 2 : Législation maritime et de la pêche</li>
          <li>Module 3 : Sécurité et sûreté maritime</li>
          <li>Module 4 : Suivi, contrôle et surveillance des pêches</li>
          <li>Module 5 : Navigation maritime et océanographie</li>
        </ul>
        <br />
        <p>
          <b>Pour en savoir plus : contactez- nous à l’adresse : </b>
          <i [innerHTML]="'ageosinfos@ageos.ga'"></i>
        </p>
      </div>
    </div>
  </div>
</div>
